$color: #fff, #eee, #ddd, #ccc, #bbb;

body {
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden;
}

img {
    filter: invert(1);
    width: 300px; 
}